# PANDAS

Acervo de funções utéis, explicações e lembretes referentes a essa lib.

In [2]:
import pandas as pd

In [12]:
lst = [["Maite",24,"Cientista de dados"],["Juan",26,"Front-End Dev"], ["Leo",22,"Dev"]]
df = pd.DataFrame(lst, columns = ['Name','Age','Job'])

In [13]:
df

    Name  Age                 Job
0  Maite   24  Cientista de dados
1   Juan   26       Front-End Dev
2    Leo   22                 Dev

### Basic Information

In [14]:
df.shape

(3, 3)

In [46]:
df['Name'].unique()

array(['Maite', 'Juan', 'Leo'], dtype=object)

In [15]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
df.columns

Index(['Name', 'Age', 'Job'], dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Job     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

### Summary Calculation

In [32]:
df.Age.sum()

72

In [33]:
df.Age.cumsum()

0    24
1    50
2    72
Name: Age, dtype: int64

In [34]:
df.Age.min() ##max()

22

In [35]:
df.Age.mean()

24.0

In [36]:
df.Age.median()

24.0

In [37]:
df.groupby('Name').describe()

        Age
      count  mean std   min   25%   50%   75%   max
Name
Juan    1.0  26.0 NaN  26.0  26.0  26.0  26.0  26.0
Leo     1.0  22.0 NaN  22.0  22.0  22.0  22.0  22.0
Maite   1.0  24.0 NaN  24.0  24.0  24.0  24.0  24.0

### Read and Write Files

In [43]:
##Read df => pd.read_csv('file.csv', nrows = 5)
##Write df => df.to_csv('df.csv')

##excel, parquet, pickle etc

### Read and Write SQL Files

### Dropping

### Filter

### Methods

### Types Conversion

### Strings

### Concat & Merge